<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UserList</title>
    <link rel="stylesheet" href="/stylesheets/semantic.min.css">
    <script src="/javascripts/semantic.min.js"></script>
</head>
<body>
    <table>
        <tr>
            <th>用户名</th>
            <th>邮箱</th>
            <th>操作</th>
        </tr>
        <% for(var i in user){ %>
            <tr>
                <td><%= user[i].username %></td>
                <td><%= user[i].email %></td>
                <td>
                    <div>
                        <a href="/users/detail/<%= user[i]._id %>"> 查看 </a>
                        <a href="/users/edit/<%= user[i]._id %>"> 编辑 </a>
                        <a href="#" class="del" data-id="<%= user[i]._id %>"> 删除 </a>
                    </div>
                </td>
            </tr>
        <% } %>
    </table>
    <table class="ui compact celled definition table">
        <thead>
        <tr>
            <th>用户名</th>
            <th>邮箱</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i in user) {%>
        <tr>
            <td><%= user[i].username %></td>
            <td><%= user[i].email %></td>
            <td>
                <div class="ui small basic icon buttons">
                    <button class="ui button"><i class="zoom-in icon"></i></button>
                    <button class="ui button active"><i class="edit icon"></i></button>
                    <button class="ui button"><i class="trash alternate icon"></i></button>
                </div>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
</body>
</html>